<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
	<div layout:fragment="content">
		<div class="page-header">
			<h1>Results</h1>
		</div>
		<div th:each="result : ${results}">
			<a class="gray-button full-width"
				th:href="@{/results/show(name=${result.name})}"> <span
				th:text="${result.name}"></span> <span class="label label-success"
				th:text="${result.runType}"></span></a>
			<!-- <a class="delete-button delete-run-result" th:href="@{/run-result/delete(name=${result.name})}"><i class="fa fa-trash"></i></a>
        	<div class="gray-button full-width">
        	<span class="pull-right" th:text="${result.runType}"></span>
            <a th:href="@{${'http://' + clustevalWebsiteHost + ':' + clustevalWebsitePort + clustevalWebsiteBaseURL + 'run_results/find_by_name'}(name=${result.name})}">
                <i class="fa fa-bar-chart"></i> <span th:text="${result.name}"></span> -->
			</a>
		</div>
	</div>
	</div>
</body>
</html>
