<div style="height: 500px;"
	th:class="${'cluster-scatter-plot_' + data.replace(':','_') + '_' + program.replace(':','_')}"
	th:attr="data-iteration=${iteration}, data-name=${name}, data-program=${program}, data-data=${data}"></div>

<script th:inline="javascript">
    $(document).ready(function() {
        var name = $('.cluster-scatter-plot_' + [[${data.replace(':','_')} + '_' + ${program.replace(':','_')}]]).data('name');
        var data = $('.cluster-scatter-plot_' + [[${data.replace(':','_')} + '_' + ${program.replace(':','_')}]]).data('data');
        var program = $('.cluster-scatter-plot_' + [[${data.replace(':','_')} + '_' + ${program.replace(':','_')}]]).data('program');
        var iteration = $('.cluster-scatter-plot_' + [[${data.replace(':','_')} + '_' + ${program.replace(':','_')}]]).data('iteration');
        $.get("/results/get-clustering?name=" + name + "&program=" + program + "&data=" + data + "&iteration=" + iteration, function(csv) {
            //alert(csv);
            // Chart options
            var options = {
                chart: {
                    type: 'scatter',
                    zoomType: 'xy'
                },
                exporting: {
                    enabled: true
                },
                title: {
                    text: 'Clustering'
                },
                xAxis: {
                    categories: []
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                series: [],
                plotOptions: {
	                scatter: {
	                	animation: false,
	                    dataLabels: {
	                        format: "{point.name}",
	                        enabled: true
	                    }
	                }
                },
                tooltip : {
                    formatter: function() {
                        var tooltip =  '<span style="color:' + this.series.color + '">' + this.series.name + '</span><br/>Object: <b>' + this.key + '</b> <br/>x: <b>' + this.x + '</b><br/>y: <b>' + this.y + '</b><br/>';
                        return tooltip;
                    }
                },   
            };

            //Custom parsing of csv file
            // Split the lines
            var lines = csv.split('\n');

            // Iterate over the lines and add categories or series
            var currentSeries = {
                data: []
            }
            $.each(lines, function(lineNo, line) {
                var items = line.split(',');

                // Lines with one element contains cluster name (or is last empty line)
                if (items.length == 1) {
                    if (lineNo > 0) {
                        options.series.push(currentSeries)
                    }

                    currentSeries = {
                        data: [],
                        name: items[0]
                    }
                } else {
                    currentSeries.data.push({'name': items[0], 'x': parseFloat(items[1]), 'y': parseFloat(items[2])});
                }
            });

            // Create the chart
            $('.cluster-scatter-plot_' + [[${data.replace(":","_")} + '_' + ${program.replace(":","_")}]]).highcharts(options);
        });
    });
</script>
