<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
<!-- Highcarts -->
<script src="/js/highcharts/highcharts.js"></script>
<script src="/js/highcharts/modules/data.js"></script>
<script src="/js/highcharts/modules/exporting.js"></script>
<!--<script src="/js/highcharts/modules/offline-exporting.js"></script>-->
<link rel="stylesheet" type="text/css" href="/css/highcharts.css">
</head>
<body>
	<div layout:fragment="content">
		<div id="results">
			<div class="page-header">
				<h1>
					<span th:text="${result.name}"></span> <small><span
						class="label label-info" th:text="${runType}"></span></small>
				</h1>
			</div>
			
			<div th:if="${not #lists.isEmpty(runWarnings)}" class="collapse" id="warnings">
				<a class="btn btn-warning" role="button" data-toggle="collapse"
				href="#warnings" aria-expanded="false"
				aria-controls="warnings"> Encountered <span class="badge"
				th:text="${runWarnings.size()}"></span> warnings</a>
				
				<ul>
					<li th:each="warning : ${runWarnings}" th:text="${warning}"></li>
				</ul>
			</div>

			<div class="row" th:each="dataEntry, dataStat: ${bestQuals}">
				<div class="col-md-12">
					<h2 style="font-weight: bold;">
						Best Qualities on Data '<span th:text="${dataEntry.key}"></span>'
					</h2>
					<div th:id="'best-qualities-for-data-' + ${dataStat.index}"
						style="width: 100%;"></div>
				</div>
				<script th:inline="javascript">
                             $(function () {

                                 $('#best-qualities-for-data-[[${dataStat.index}]]').height(150 + [[${#lists.size(qualityMeasures)}]]*[[${#maps.size(dataEntry.value)}]]*15)
                                 $('#best-qualities-for-data-[[${dataStat.index}]]').highcharts({
                                     chart: {
                                         type: 'bar'
                                     },
                                     title: {
                                         text: ''
                                     },
                                     xAxis: {
                                         categories: [[${qualityMeasures}]]
                                     },
                                     yAxis: {
                                         title: {
                                             text: 'Qualities'
                                         },
                                         labels: {
                                             overflow: 'justify'
                                         }
                                     },
                                     plotOptions: {
                                             bar: {
                                                 dataLabels: {
                                                     enabled: true
                                                 },
                                                 groupPadding: 0.1
                                             }
                                     },
                                     series: 
                                    	 $.map([[${dataEntry.value}]], function(value, key) {
                                    		 return {
                                    			 name: key,
                                    			 data: $.map(value, function(value, key) {
                                    				 return parseFloat(value);
                                    			 }),
                                                 dataLabels: {
                                                     enabled: true,
                                                     formatter: function() {
                                                    	if (this.point.y === "NA")
                                                    		return "NA";
                                                    	if (isNaN(this.point.y))
                                                    		return 'NaN';
                                                    	if (!isFinite(this.point.y))
                                                    		return 'Infinity';
                                                    	
                                                       	return Math.round(this.point.y * 1000) / 1000;
                                                     }
                                                 }
                                    		 };
                                    	 }),
                                 });
                             });
                         </script>
			</div>

			<div th:object="${result}" class="parameter-optimization">
				<div class="program" th:each="program, programStat : *{programs}">
					<h1 class="name">
						Program: <span th:text="${program.alias}"></span> <small>(<span
							th:text="${program.name}"></span>)
						</small>
					</h1>
					<div class="data-wrapper">
						<div class="data" th:each="data, dataStat : ${program.data}">
							<div class="dash"></div>
							<h1 class="name">
								Data: <span th:text="${data.alias}"></span> <small>(<span
									th:text="${data.name}"></span>)
								</small>
							</h1>
							<br> <br> <strong>Best qualities</strong>
							<ul>
								<li th:each="quality : ${data.qualities}"><span
									th:id="${'quality-name-' + quality.name + '_' + quality.version}"
									th:text="${quality.name}"></span>: <span
									th:text="${quality.value}"></span> - <em>Achieved with
										parameter set: <span th:text="${quality.parameterSet}"></span>
								</em> - <a
									th:href="@{/results/show-clustering(name=${result.name}, program=${program.name}, data=${data.name}, param-set=${quality.parameterSet})}"
									class="cluster-modal">Show clustering</a> <script
										th:inline="javascript">
									var id = '#quality-name-' + [[${quality.name}]] + '_' + [[${quality.version}]];
									$(id).html(formatNameWithVersion([[${quality.alias}]] + ':' + [[${quality.version}]]));
									</script></li>
							</ul>
							<div class="result-graphs">
								<div class="row">
									<div class="col-md-4">
										<div
											th:id="'best-qualities-' + ${programStat.index} + '_' + ${dataStat.index}"
											style="width: 100%;"></div>
									</div>
									<div class="col-md-8">
										<div class="parameter-sliders"
											th:attr="data-name=${result.name}, data-program=${program.name}, data-data=${data.name}">
											<!-- AJAX: sliders are loaded here -->
										</div>
									</div>
								</div>
							</div>
							<div class="toggle-result-graphs">
								<i class="fa fa-chevron-up"></i>
							</div>
							<script th:inline="javascript">
                                $(function () {
                                	
                                    $('#best-qualities-[[${programStat.index}]]_[[${dataStat.index}]]').height(150 + '[[${#lists.size(data.qualities)}]]'*35)
                                    $('#best-qualities-[[${programStat.index}]]_[[${dataStat.index}]]').highcharts({
                                        chart: {
                                            type: 'bar'
                                        },
                                        title: {
                                            text: 'Best qualities'
                                        },
                                        xAxis: {
                                            categories: [[${data.qualities}]].map(function(item) {
                                                return item.alias + ' v' + item.version;
                                            })
                                        },
                                        yAxis: {
                                            title: {
                                                text: 'Qualities'
                                            },
                                            labels: {
                                                overflow: 'justify'
                                            }
                                        },
                                        plotOptions: {
                                                bar: {
                                                    dataLabels: {
                                                        enabled: true
                                                    }
                                                }
                                        },
                                        series: [{
                                            name: [[${program.alias}]] + ' / ' + [[${data.alias}]],
                                            data:  [[${data.qualities}]].map(function(item) {
                                            	if (isFinite(item.value))
                                                	return Math.round(item.value * 1000) / 1000;
                                            	return '';
                                            }),
                                            dataLabels: {
                                                enabled: true,
                                                formatter: function() {
                                                	if (this.point.y === "NA")
                                                		return "NA";
                                                	if (isNaN(this.point.y))
                                                		return 'NaN';
                                                	if (!isFinite(this.point.y))
                                                		return 'Infinity';
                                                	
                                                   	return Math.round(this.point.y * 1000) / 1000;
                                                }
                                            }
                                        }]
                                    });
                                });
                            </script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
