<form action="" method="post" class="parameter-cluster-form">
    <div class="range-container" th:each="parameter : ${parameters}">
        <div class="icon">
            <div class="locked">
                <i class="fa fa-unlock"></i>
            </div>
            <div class="unlocked" style="display: none;">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div>
            <strong th:text="${parameter.key}"></strong> -
            <span th:text="${#lists.size(parameter.value)}"></span> evaluated values
            <div class="range-input-container">
				<input type="range" class="options"
					th:attr="data-options=${#strings.listJoin(parameter.value, ',')}, max=${#lists.size(parameter.value) - 1}"
					min="0" value="0" step="1">
				<div class="range-value" th:text="${parameter.value[0]}"></div>
                <input type="hidden" th:value="${parameter.key}">
            </div>
        </div>
        <input type="hidden" name="name" th:value="${name}">
        <input type="hidden" name="program" th:value="${program}">
        <input type="hidden" name="data" th:value="${data}">
    </div>
</form>
