<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content" id="clustering_quality_measures">
        <div class="pull-right">
            <a href="/utilities/upload-quality-measure" class="btn btn-success">Upload clustering quality measure</a>
        </div>

        <h1>Available clustering quality measures</h1>
        <div class="box program-container" th:each="measure: ${measures}">
            <a class="delete-button delete-data" th:href="@{/clustering_quality_measures/delete(name=${measure.getName()},
            version=${measure.getVersion()})}">
                <i class="fa fa-trash"></i>
            </a>
            <strong th:text="${measure.toString(true)}" class="measure-name fetch-measure"></strong>
            <div class="measure-information"></div>
        </div>
    </div>
</body>
</html>
