<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
	<div layout:fragment="content">
		<div class="page-header">
			<h1>
				Editing data configuration <strong th:text="${name}"></strong> <span class="label label-primary">Version <span
					th:text="${version}"></span></span>
			</h1>
		</div>
		<form class="run-creation form-horizontal" th:action="@{/data/edit}"
			method="post" th:object="${dataCreation}"
			th:include="data/form :: data-form" enctype="multipart/form-data"></form>
	</div>
</body>
</html>
