<div th:fragment="data-form">
	<h2>General Information</h2>
	<div class="form-group">
		<div class="col-sm-3">
			<label> Name <span class="error"
				th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
		</div>
		<div class="col-sm-9">
			<input placeholder="Name of data set & gold standard" type="text"
				name="name" th:field="*{name}" class="form-control"
				th:errorclass="has-error">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-3">
			<label> Alias <span class="error"
				th:if="${#fields.hasErrors('alias')}" th:errors="*{alias}"></label>
		</div>
		<div class="col-sm-9">
			<input placeholder="Readable alias of data set & gold standard"
				type="text" name="alias" th:field="*{alias}" class="form-control"
				th:errorclass="has-error">
		</div>
	</div>
	<!-- <div class="form-group">
        <label>
            Version of data set & gold standard
            <span class="error" th:if="${#fields.hasErrors('version')}" th:errors="*{version}">
        </label>
        <input placeholder="Version of data set & gold standard, e.g. 3-SNAPSHOT" type="text" name="version" th:field="*{version}" class="form-control" th:errorclass="has-error">
    </div> -->
	<input type="hidden" name="version" th:field="*{version}"> <input
		type="hidden" name="fileName" th:field="*{fileName}">
	<div class="form-group">
		<div class="col-sm-3">
			<label> Data set type <span class="error"
				th:if="${#fields.hasErrors('dataSetType')}"
				th:errors="*{dataSetType}"></label>
		</div>
		<div class="col-sm-9">
			<select class="select2-multiple dataset-types" name="dataSetType">
				<option th:each="dataSetType : ${dataSetTypes}"
					th:value="${dataSetType}" th:text="${dataSetType.toString(true)}"
					th:selected="${dataCreation.dataSetType != null && dataSetType.toString().equals(dataCreation.dataSetType.toString())}" />
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-3">
			<label> Data set format <span class="error"
				th:if="${#fields.hasErrors('dataSetFormat')}"
				th:errors="*{dataSetFormat}"></label>
		</div>
		<div class="col-sm-9">
			<select class="select2-multiple dataset-formats" name="dataSetFormat">
				<option th:each="dataSetFormat : ${dataSetFormats}"
					th:value="${dataSetFormat}"
					th:text="${dataSetFormat.toString(true)}"
					th:selected="${dataCreation.dataSetFormat != null && dataSetFormat.toString().equals(dataCreation.dataSetFormat.toString())}" />
			</select>
		</div>
	</div>
	<h2>Files</h2>
	<div class="form-group">
		<div class="col-sm-3">
			<label> Data set file <span class="error"
				th:if="${#fields.hasErrors('dataSetFile')}"
				th:errors="*{dataSetFile}"></label>
		</div>
		<div class="col-sm-9">
			<input type="file" name="dataSetFile">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-3">
			<label> Additional data set files <span class="error"
				th:if="${#fields.hasErrors('additionalDataSetFiles')}"
				th:errors="*{additionalDataSetFiles}"></label>
		</div>
		<div class="col-sm-9">
			<input type="file" name="additionalDataSetFiles" multiple>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-3">
			<label> Goldstandard file </label>
		</div>
		<div class="col-sm-9">
			<input type="file" name="goldstandardFile">
		</div>
	</div>
	<input type="submit" class="btn btn-primary btn-block" value="Upload">
</div>
