<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
	<div layout:fragment="content" id="data">
		<div class="pull-right">
			<a href="/data/upload" class="btn btn-lg btn-success">Upload new
				data set</a>
		</div>
		
		<th:block th:if="${!parsingErrors.isEmpty()}">
			<a class="btn btn-danger" role="button" data-toggle="collapse"
				href="#parsingErrors" aria-expanded="false"
				aria-controls="parsingErrors"> Parsing errors <span class="badge"
				th:text="${parsingErrors.size()}"></span></a>
	
			
			<div class="error-list" class="collapse" id="parsingErrors">
				<div class="error" th:each="data : ${parsingErrors.keySet()}">
					<div th:attr="data-name=${data}">
						<ul th:each="error : ${parsingErrors.get(data)}">
							<li class="alert alert-danger">
								<div class="icon">
									<i class="fa fa-warning"></i> <span class="name"
										th:text="${data}"></span> <a class="delete-button delete-data"
										th:attr="data-name=${data.getName()},data-version=${data.getVersion()}"><i
										class="fa fa-trash"></i></a> <a class="edit-button"
										th:href="@{/data/edit(name=${data.getName()},version=${data.getVersion()})}">
										<i class="fa fa-edit"></i>
									</a><br /> <span th:text="${error}"></span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</th:block>

		<div class="page-header">
			<h1 id="dataconfigs">Available data sets</h1>
		</div>
		<a class="expand-all"> <i class="fa fa-expand"></i> Expand all
		</a> - <a class="collapse-all"> <i class="fa fa-compress"></i>
			Collapse all
		</a>
		<div class="box data-container-outer"
			th:each="data: ${datas.keySet()}">
			<span class="toggle large"> <i class="fa fa-expand"></i> <strong><span
				th:text="${data.getSecond()}"></span> <small><span style="color: #777;"
				th:text="${'Configuration: ' + data.getFirst()}"></span></small></strong>
			</span> <strong th:text="${data.getFirst()}" style="display: none;"
				class="fetch-data data-name"></strong>

			<div class="data-information-outer" style="display: none;">
				<div class="data-container"
					th:each="dataVersion: ${datas.get(data).keySet()}">
					<a class="delete-button delete-data"
						th:attr="data-name=${data.getFirst()},data-version=${dataVersion}">
						<i class="fa fa-trash"></i>
					</a> <a class="edit-button"
						th:href="@{/data/edit(name=${data.getFirst()},version=${dataVersion})}">
						<i class="fa fa-edit"></i>
					</a> <span class="toggle large"> <i class="fa fa-expand"></i> <strong
						class="label label-primary" th:text="${'Configuration version: ' + dataVersion}"></strong>
					</span>
					<div th:text="${dataVersion}" style="display: none;"
						class="fetch-data-version data-version"></div>
					<div class="data-information"></div>
				</div>
			</div>
		</div>

		<!--         <h1 id="datasets">Available data sets</h1>
        <div class="box data-container-outer" th:each="dataset: ${datasets.keySet()}">
	        <span class="toggle large">
	            <i class="fa fa-expand"></i>
	            <strong th:text="${'Data set: ' + dataset}"></strong>
	        </span>
	        <strong th:text="${dataset}" style="display: none;" class="fetch-data data-name"></strong>
	        
	        <div class="data-information-outer" style="display:none;">
		        <div class="data-container" th:each="version: ${datasets.get(dataset).keySet()}">
		            <a class="delete-button delete-dataset" th:href="@{/datasets/delete(name=${dataset},version=${version})}">
		                <i class="fa fa-trash"></i>
		            </a>
		            <span class="toggle large">
		                <i class="fa fa-expand"></i>
		                <strong th:text="${'Version: ' + version}"></strong>
		            </span>
		        	<div th:text="${version}" style="display: none;" class="fetch-dataset-version dataset-version"></div>
		            <div class="data-information"></div>
		        </div>
	        </div>
        </div> -->
	</div>
</body>
</html>
