<div th:object="${dataConfig}">
	<div class="row">
		<div th:classappend="${!isRelative} ? col-md-3 : col-md-4">
			<div class="data-basic-stat">
				<div class="stat-count" th:text="${numberOfSamples}"></div>
				<div class="stat-name">Number of samples</div>
			</div>
		</div>
		<div class="col-md-3" th:if="${!isRelative}">
			<div class="data-basic-stat">
				<div class="stat-count" th:text="${dimensionality}"></div>
				<div class="stat-name">Dimensionality</div>
			</div>
		</div>
		<div th:classappend="${!isRelative} ? col-md-3 : col-md-4">
			<div class="data-basic-stat">
				<div class="stat-count">
					<i class="fa"
						th:classappend="*{hasGoldStandardConfig()} ? fa-check : fa-times"></i>
				</div>
				<div class="stat-name"
					th:text="*{hasGoldStandardConfig()} ? 'Has goldstandard' : 'No goldstandard'"></div>
			</div>
		</div>
		<div th:classappend="${!isRelative} ? col-md-3 : col-md-4">
			<div class="data-basic-stat">
				<div class="stat-count">
					<i class="fa"
						th:classappend="${isRelative} ? fa-sort-amount-desc : fa-table"></i>
				</div>
				<div class="stat-name"
					th:text="${isRelative} ? 'Similarities' : 'Absolute coordinates'"></div>
			</div>
		</div>
	</div>
	Dataset config: <span th:text="*{getDatasetConfig()}"></span><br>
	Dataset file: <span
		th:text="*{getDatasetConfig().getDataSet().getFullName()}"></span>
	<div th:if="*{hasGoldStandardConfig()}">
		Gold standard config: <span th:text="*{getGoldstandardConfig()}"></span><br>
		Gold standard file: <span
			th:text="*{getGoldstandardConfig().getGoldstandard().getFullName()}"></span><br>
	</div>
</div>
