<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
<!-- Highcarts -->
<script src="/js/highcharts/highcharts.js"></script>
<script src="/js/highcharts/modules/data.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<div id="results">
			<div class="page-header">
				<h1>
					<span th:text="${result.name}"></span>
				</h1>
				<h1>
					<small>Run type: <span th:text="${runType}"></span></small>
				</h1>
			</div>

			<div th:object="${result}" class="parameter-optimization">
				<div class="program" th:each="program, programStat : *{programs}">
					<h1 class="name">
						Program: <span th:text="${program.alias}"></span> <small>(<span
							th:text="${program.name}"></span>)
						</small>
					</h1>
					<div class="data-wrapper">
						<div class="data" th:each="data, dataStat : ${program.data}">
							<div class="dash"></div>
							<h1 class="name">
								Data: <span th:text="${data.alias}"></span> <small>(<span
									th:text="${data.name}"></span>)
								</small>
							</h1>
							<br> <br> <strong>Achieved qualities</strong>
							<ul>
								<li th:each="quality : ${data.qualities}"><span
									th:text="${quality.name}"></span>: <span
									th:text="${quality.value}"></span></li>
							</ul>
							<div class="result-graphs">
								<div class="row">
									<div class="col-md-4">
										<div
											th:id="'best-qualities-' + ${programStat.index} + '_' + ${dataStat.index}"
											style="width: 100%;"></div>
									</div>
									<div class="col-md-8">
										<div class="load-clustering"
											th:attr="data-name=${result.name}, data-program=${program.name}, data-data=${data.name}">
											<!-- AJAX: clustering is loaded here -->
										</div>
									</div>
								</div>
							</div>
							<div class="toggle-result-graphs">
								<i class="fa fa-chevron-up"></i>
							</div>
							<script th:inline="javascript">
                                $(function () {
                                    $('#best-qualities-[[${programStat.index}]]_[[${dataStat.index}]]').height(150 + '[[${#lists.size(data.qualities)}]]'*35)
                                    $('#best-qualities-[[${programStat.index}]]_[[${dataStat.index}]]').highcharts({
                                        chart: {
                                            type: 'bar'
                                        },
                                        title: {
                                            text: 'Achieved qualities'
                                        },
                                        xAxis: {
                                            categories: [[${data.qualities}]].map(function(item) {
                                                return item.name;
                                            })
                                        },
                                        yAxis: {
                                            title: {
                                                text: 'Qualities'
                                            },
                                            labels: {
                                                overflow: 'justify'
                                            }
                                        },
                                        plotOptions: {
                                                bar: {
                                                    dataLabels: {
                                                        enabled: true
                                                    }
                                                }
                                        },
                                        series: [{
                                            name: [[${program.alias}]] + ' / ' + [[${data.alias}]],
                                            data:  [[${data.qualities}]].map(function(item) {
                                            	if (isFinite(item.value))
                                                	return Math.round(item.value * 1000) / 1000;
                                            	return '';
                                            }),
                                            dataLabels: {
                                                enabled: true,
                                                formatter: function() {
                                                	if (this.point.y === "NA")
                                                		return "NA";
                                                	if (isNaN(this.point.y))
                                                		return 'NaN';
                                                	if (!isFinite(this.point.y))
                                                		return 'Infinity';
                                                	
                                                   	return Math.round(this.point.y * 1000) / 1000;
                                                }
                                            }
                                        }]
                                    });
                                });
                            </script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
