<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content" id="data_randomizers">
        <div class="pull-right">
            <a href="/utilities/upload-data-randomizers" class="btn btn-success">Upload data randomizer</a>
        </div>

        <h1>Available data randomizers</h1>
        <div class="box randomizer-container" th:each="randomizer: ${randomizers}">
            <a class="delete-button delete-data" th:href="@{/data_randomizers/delete(name=${randomizer.getName()},
            version=${randomizer.getVersion()})}">
                <i class="fa fa-trash"></i>
            </a>
            <strong th:text="${randomizer.toString(true)}" class="randomizer-name fetch-randomizer"></strong>
            <div class="randomizer-information"></div>
        </div>
    </div>
</body>
</html>
