<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
	<div layout:fragment="content" id="home" th:if="${connected}">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1>Available ClustEval components</h1>
					<p class="help-block">The following components were
						successfully parsed by your ClustEval server and are available for
						usage.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="well">
					<div class="stat-count" th:text="${numberOfRuns}"></div>
					<div class="stat-name">Runs available</div>
					<div class="row">
						<div class="col-md-6">
							<a href="/runs" class="btn btn-default"><i
								class="fa fa-list-ul"></i> See all runs</a>
						</div>
						<div class="col-md-6">
							<a href="/runs/create" class="btn btn-success"><i
								class="fa fa-plus"></i> Create new run</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class=well>
					<div class="stat-count" th:text="${numberOfProgramConfigs}"></div>
					<div class="stat-name">Programs available</div>
					<div class="row">
						<div class="col-md-6">
							<a href="/programs" class="btn btn-default"><i
								class="fa fa-list-ul"></i> See all programs</a>
						</div>
						<div class="col-md-6">
							<a href="/programs/upload" class="btn btn-success"><i
								class="fa fa-plus"></i> Upload program</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="well">
					<div class="stat-count" th:text="${numberOfDataConfigs}"></div>
					<div class="stat-name">Data sets available</div>
					<div class="row">
						<div class="col-md-6">
							<a href="/data" class="btn btn-default"><i
								class="fa fa-list-ul"></i> See all data</a>
						</div>
						<div class="col-md-6">
							<a href="/data/upload" class="btn btn-success"><i
								class="fa fa-plus"></i> Upload data</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
