<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content">
        You will be redirected <a th:href="${redirectUrl}">here</a> in 5 seconds ...

        <script th:inline="javascript">
            setTimeout(function () {
                window.location.href = [[${redirectUrl}]];
            }, 5000);
        </script>
    </div>
</body>
</html>
