/* 14px gutter */
.row {
	margin-right: -7px;
	margin-left: -7px;
}

.row>[class^="col-"], .gutter-20>[class^=" col-"] {
	padding-right: 7px;
	padding-left: 7px;
}

* {
	/* 	margin: 0px;
	padding: 0px; */
	
}

html {
	height: 100%;
}

body {
	height: 100%;
	overflow-x: hidden;
}

a {
	cursor: pointer;
}

a:focus, a:hover {
	color: rgb(67, 80, 109);
}

.box {
	margin-top: 14px;
	padding: 7px;
	background: #efefef;
	border: 2px solid #c9c9c9;
	font-size: 16px;
	overflow: hidden;
}

.edited-runs-container .toggle {
	display: inline-block;
	float: right;
	width: 25px;
	height: 25px;
	background: #f9f9f9;
	text-align: center;
	line-height: 25px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #ccc;
}

.box .toggle {
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.box .toggle.large, .edited-runs-container .toggle.large {
	width: 38px;
	height: 38px;
	line-height: 38px;
}

.range-container {
	overflow: hidden;
	border: 1px solid #ececec;
	padding: 4px;
	background: #fafafa;
	margin-bottom: 5px;
	position: relative;
	padding-left: 35px;
}

.range-container input[type="range"] { //
	width: calc(100% - 140px);
	float: left;
	margin-right: 10px;
}

.range-container .range-value {
	width: 130px;
	display: inline-block;
	text-align: center;
}

.range-container .icon {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 35px;
	text-align: center;
	font-size: 20px;
	color: #999;
}

.range-container .icon>div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.range-container .range-input-locked {
	display: none;
}

.gray-button {
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	height: 38px;
	background: #f9f9f9;
	padding: 0px 10px;
	line-height: 38px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #ccc;
	color: #333;
	margin: 5px 0px;
}

.gray-button:focus {
	outline: none;
	border: 1px dashed #ccc;
}

.gray-button.full-width {
	display: block;
}

.gray-button.no-margin {
	margin: 0px;
}

.delete-button {
	display: inline-block;
	float: right;
	width: 38px;
	height: 38px;
	background: #d85252;
	text-align: center;
	line-height: 38px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #530000;
	margin-left: 3px;
	color: #451515;
}

.edit-button {
	display: inline-block;
	float: right;
	width: 38px;
	height: 38px;
	background: #f9f9f9;
	text-align: center;
	line-height: 38px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin-left: 3px;
	color: #333;
}

/* Header */
header {
	position: relative;
	top: 0px;
	display: block;
	overflow: auto;
	height: auto;
	background: #fdfdfd;
	width: 100%;
	border-bottom: 5px solid #43506d;
	padding: 10px;
}

#corner-logo {
	background: #fdfdfd;
	float: left;
	height: 100px;
	padding-right: 10px;
}

.header-text {
	font-size: 70px;
	font-family: Cabin;
	font-weight: bold;
	top: 0px;
	display: inline-block;
	/* this prevents line break of the header text to a new line below the logo */
	max-width: calc(100% - 150px);
}

@media only screen and (max-width: 1500px) {
	#corner-logo {
		height: 90px;
	}
	.header-text {
		font-size: 60px;
	}
	.alert.alert-success.connection-status {
		font-size: 12px !important;
	}
}

@media only screen and (max-width: 1300px) {
	#corner-logo {
		height: 80px;
	}
	.header-text {
		font-size: 50px;
	}
	.alert.alert-success.connection-status {
		font-size: 12px !important;
	}
}

#clusteval-client-id {
	display: inline-block;
}

@media only screen and (max-width: 1100px) {
	#clusteval-client-id {
		max-width: 70px;
		text-overflow: ellipsis;
		white-space: nowrap;
  		overflow: hidden;
	}
	#corner-logo {
		height: 60px;
	}
	#side-menu {
		width: 95px !important;
		font-size: 12px;
	}
	.header-text {
		font-size: 40px;
	}
}

@media only screen and (max-width: 920px) {
	header {
		border-bottom: 0px !important;
	}
	/* #side-menu {
		width: 75px !important;
	} */
	#side-menu {
		width: 100% !important;
		height: 60px !important;
	}
	#side-menu ul li {
		width: 15%;
		display: inline-block !important;
	}
	#side-menu ul li a {
		display: inline-block !important;
		height: 60px !important;
	}
}

@media only screen and (max-width: 800px) {
	.header-subtext {
		display: none;
	}
}

@media only screen and (max-width: 400px) {
	.header-text {
		display: none;
	}
	#side-menu {
		font-size: 11px;
	}
}

.alert.alert-success.connection-status {
	float: right;
	font-size: 14px;
	margin-bottom: 0px;
	margin-top: 0px;
}

/* Side menu */
#side-menu {
	position: relative;
	width: 105px;
	background: #43506d;
	float: left;
	height: 85%;
}

#side-menu ul {
	list-style: none;
	padding-left: 0px;
}

#side-menu ul li { //
	background: rgb(67, 80, 109);
	overflow: hidden;
}

#side-menu ul li a {
	text-decoration: none;
	display: block;
	position: relative;
	width: 100%;
	height: 75px;
	outline: none;
}

#side-menu ul li a .icon {
	display: block;
	float: left;
	font-size: 1.5em;
	width: 100%;
	height: 75px;
	text-align: center;
	line-height: 100px;
	vertical-align: middle;
	color: #fff; //
	background: #0E1221;
	margin-right: 5px;
}

#side-menu ul li a .icon i {
	opacity: 1.0;
	display: block;
	position: relative;
	top: 35%;
	transform: translateY(-50%);
}

#side-menu ul li a span {
	position: absolute;
	color: #fff;
	bottom: 10%;
	left: 0px;
	width: 100%;
	text-align: center;
	opacity: 0.7;
}

#side-menu ul li a:hover span {
	color: #fff;
	text-shadow: 0px 0px 2px #266a6c;
}

#side-menu ul li a:hover .icon i {
	text-shadow: 0px 0px 1px #fff;
}

#side-menu .version {
	transition: all 0.4s ease-in-out;
}

#side-menu .version {
	position: relative;
	top: 50px; width : 100%;
	text-align: center;
	color: rgba(255, 255, 255, 0.25);
	padding: 7px 0px;
	background-color: rgba(255, 255, 255, 0.05);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	width: 100%;
}

#side-menu .version:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* Side menu hover effect */
#side-menu ul li a .icon i {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#side-menu ul li a span {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#side-menu:hover ul li a span {
	opacity: 1;
}

#side-menu:hover ul li a .icon i {
	opacity: 1;
}

/* Readability of active link */
#side-menu ul .active-link a .icon {
	background: #242a42;
	font-size: 1.7em;
}

#side-menu ul .active-link a .icon i {
	opacity: 1;
}

#side-menu ul .active-link a span {
	opacity: 1;
	font-weight: normal;
	font-size: 1.2em;
	color: #fff
}

#side-menu ul .active-link a:hover span {
	color: #fff;
	text-shadow: 0px 0px 2px #266a6c;
}

/* Content Wrapper */
#content-wrapper {
	position: relative;
	float: left;
	width: 90%;
	margin-bottom: 20px;
}

/* Home */
.connection {
	background-color: #9be196;
	padding: 0px;
	border: 2px solid #91cf8d;
	position: relative;
	color: #357831;
	font-size: 18px;
	overflow: hidden;
	padding: 3px;
	width: 100%;
	top: 20px;
}

.no-connection {
	background-color: #fcb231;
	border: 2px solid #d58f14;
	color: #a76f0e;
}

.connection>div {
	display: inline-block;
}

.connection .icon {
	color: #fff;
	font-size: 20px;
	float: left;
	margin-right: 15px;
}

.connection .connect-button {
	position: absolute;
	right: 0px;
	top: 3px;
	bottom: 3px;
	padding: 0px 15px;
}

.connection .connect-button i {
	font-size: 25px;
	color: #333;
	position: relative;
}

#home .box {
	margin-top: 14px;
	padding: 7px;
	background: #efefef;
	border: 2px solid #c9c9c9;
	font-size: 16px;
	line-height: 34px;
	overflow: hidden;
}

#home .well {
	/* border: 2px solid #cfcfcf;
	background: #efefef; */
	text-align: center;
	/* color: #333;
	margin-top: 14px;
	padding: 15px; */
}

#home .well .stat-count {
	font-size: 50px;
	font-weight: bold;
}

#home .well .stat-name {
	font-size: 18px;
	margin-bottom: 20px;
}

#home .well .btn {
	width: 100%;
}

/* Messages */
.alert {
	padding: 7px;
	position: relative;
	font-size: 18px;
	overflow: hidden;
	margin-top: 14px;
}

/* Data */
#data .data-information-outer {
	margin-left: -7px;
	margin-right: -7px;
	margin-bottom: -7px;
}

#data .data-name {
	line-height: 38px;
}

#data .data-container {
	background: #f5f5f5;
	padding: 5px;
}

#data .data-container .data-information {
	display: none;
	margin-top: 5px;
	padding: 5px;
}

#data .data-container .data-information .data-basic-stat {
	border: 2px solid #cfcfcf;
	background: #F9F9F9;
	text-align: center;
	color: #333;
	margin-bottom: 5px;
}

#data .data-container .data-information .data-basic-stat .stat-count {
	font-size: 50px;
	font-weight: bold;
	margin-top: 20px;
}

#data .data-container .data-information .data-basic-stat .stat-name {
	font-size: 18px;
	margin-bottom: 20px;
}

/* Forms */
form label {
	font-size: 16px;
	line-height: 38px;
}

.dropdown-option {
	font-size: 16px;
	line-height: 32px;
}

.select2-selection__rendered {
	line-height: 32px !important;
}

.select2-container .select2-selection--single {
	height: 34px !important;
}

.select2-selection__arrow {
	height: 34px !important;
}

/* Alerts */
.error-list .error span.name {
	line-height: 38px;
	font-size: 16px;
	font-weight: bold;
}

/* Programs */
#programs .program-container .program-information {
	display: none;
	margin-top: 5px;
	padding: 5px;
}

#programs .program-name {
	line-height: 38px;
}

/* Results */
#results .parameter-optimization .name {
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
	margin: 5px 0px;
}

#results .parameter-optimization .program {
	margin-top: 10px;
}

#results .parameter-optimization .program .data-wrapper {
	padding-left: 30px;
	border-left: 2px solid #cfcfcf;
}

#results .parameter-optimization .program .data {
	border: 2px solid #cfcfcf;
	background: #efefef;
	padding: 7px;
	margin-top: 7px;
	position: relative;
}

#results .parameter-optimization .program .data .name {
	font-size: 18px;
	margin: 0px;
}

#results .parameter-optimization .program .data .dash {
	position: absolute;
	left: -32px;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 2px;
	background: #cfcfcf;
}

#results .parameter-optimization .program .data ul {
	padding-left: 20px;
}

#results .parameter-optimization .toggle-result-graphs {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #f9f9f9;
	text-align: center;
	line-height: 25px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #ccc;
}

#results .parameter-optimization .parameter-graph {
	height: 500px;
	background: #fff;
}

#results .parameter-optimization .parameter-graph span {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	text-align: center;
}

#results .data-wrapper .data-basic-stat {
	border: 2px solid #cfcfcf;
	background: #efefef;
	text-align: center;
	color: #333;
}

#results .data-wrapper .data-basic-stat .stat-count {
	font-size: 50px;
	font-weight: bold;
	margin-top: 20px;
}

#results .data-wrapper .data-basic-stat .stat-name {
	font-size: 18px;
	margin-bottom: 20px;
}

/* Accordion */
.myAccordion {
	list-style: none; /*overflow: hidden;*/
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0px; /* height: calc(100vh - 130px); */
}

.myAccordion>li {
	display: flex;
	width: 75px;
	float: left;
	overflow: hidden;
}

.myAccordion>li.animated {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.myAccordion>li .section-header {
	display: block;
	height: 100%;
	background: #eee;
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 75px;
	cursor: pointer;
	border: 1px dashed #ccc;
}

.myAccordion>li .section-header.error {
	border-color: #cf3a3a;
	font-style: normal;
	font-size: 14px;
	background-color: #ffd1d1;
}

.myAccordion>li .section-header span {
	font-weight: bold;
	font-size: 24px;
	color: #777;
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%) rotate(-90deg);
	text-align: left;
	white-space: nowrap;
}

.myAccordion>li .section-content {
	width: 100%;
	background: #f3f3f3;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
}

.myAccordion>li .section-content {
	display: block;
	padding: 10px;
	margin-left: 75px;
	overflow: hidden;
	overflow-y: auto;
}

.run-container-outer .data-basic-stat {
	border: 2px solid #cfcfcf;
	background: #F9F9F9;
	text-align: center;
	color: #333;
	margin-bottom: 5px;
}

.run-container-outer .data-basic-stat .stat-count {
	font-size: 50px;
	font-weight: bold;
	margin-top: 20px;
}

.run-container-outer .data-basic-stat .stat-name {
	font-size: 18px;
	margin-bottom: 20px;
}

/* Main - Run list */
#runs .run-list .run {
	padding: 10px;
	border: 2px solid #cfcfcf;
	background: #efefef;
	margin-bottom: 8px;
	overflow: hidden;
}

#runs .run-list .run span.name {
	line-height: 38px;
	font-size: 16px;
	font-weight: bold;
}

#runs .run-list .run .gray-button {
	float: left;
	margin-right: 0px;
	margin-left: 3px;
}

#runs .run-list .run .btn.pull-right {
	margin-right: 0px;
}

#runs .run-list .run .progress {
	margin-bottom: 0px;
	height: 38px;
	background-color: #f9f9f9;
}

#runs .run-list .run .date {
	font-size: 16px;
	color: #999;
}

#runs .run-list .edited-runs-container {
	padding-left: 50px;
}

#runs .run-list .edited-runs-container {
	display: none;
}

/* Main - Run creation */
#runs form.run-creation h1 {
	margin-top: 0px;
	color: #444;
}

#runs form.run-creation select {
	width: 100% !important;
}

#runs form.run-creation .radio {
	background: #f7f7f7;
	border: 1px dashed #ccc;
	padding: 5px;
}

#runs form.run-creation .radio input[type=radio] {
	margin-top: 1px;
	position: relative;
}

form.run-creation span.info {
	font-size: 12px;
	color: #999;
	font-style: italic;
}

form.run-creation span.error {
	font-size: 12px;
	color: #cf3a3a;
	font-style: italic;
}

#runs form.run-creation .randomizer, #runs form.run-creation .program {
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	background: #fcfcfc;
}

#runs form.run-creation .program hr {
	border-color: #ccc;
	margin-top: 10px;
	margin-bottom: 10px;
}

#runs form.run-creation .program .name {
	line-height: 25px;
	vertical-align: middle;
}

#runs form.run-creation .program .toggle {
	display: inline-block;
	float: right;
	width: 25px;
	height: 25px;
	background: #f0f0f0;
	text-align: center;
	line-height: 25px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #ccc;
}

#runs form.run-creation .program .program-content {
	display: none;
}

#runs form.run-creation .program .program-content label {
	width: 100%;
}

/* Clustering modal window */
.modal-clustering {
	width: 1140px;
	margin: 30px auto;
}

#content-wrapper {
	padding-top: 12px;
}