<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<!-- Meta tags -->
<meta charset="UTF-8">

<!-- jQuery -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>

<!-- Select2 -->
<link rel="stylesheet" type="text/css" href="/css/select2.min.css">
<script src="/js/select2.full.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- Custom JS -->
<script src="/js/script.js"></script>

<link rel="stylesheet" type="text/css"
	href="//fonts.googleapis.com/css?family=Cabin" />

<title>ClustEval Administration Web Interface</title>
</head>
<body>
	<header>
		<img id="corner-logo" th:src="@{/graphics/clusteval_logo.png}" />
		<div class="header-text">
			<span style="height: 100px; color: #43506d;">Clust</span><span
				style="color: #838ca0;">Eval</span> <span class="header-subtext"
				style="font-size: 0.7em;">Administration Web Interface</span>
		</div>

		<div class="alert alert-success connection-status"
			th:if="${connected}">
			<div class="icon">
				Status: <i class="fa fa-check-square-o"></i> Connected <a
					th:if="${permissions.canShutdown()}" class="connect-button"
					style="float: right;" href="/disconnect"
					title="Shutdown ClustEval server"> <i class="fa fa-power-off"></i>
				</a><br> Server: <b><span th:text="${clustevalServerIP}"></span>:<span
					th:text="${clustevalServerPort}"></span></b><span><br>
					Client ID: <b><span th:title="${clientId}" id="clusteval-client-id"
						th:text="${clientId}"></span></b></span>
			</div>
		</div>
	</header>

	<div id="side-menu">
		<ul>
			<li
				th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active-link':''}">
				<a href="/">
					<div class="icon">
						<i class="fa fa-home"></i>
					</div> <span>Home</span>
			</a>
			</li>
			<li
				th:classappend="${#httpServletRequest.getRequestURI().startsWith('/runs') ? 'active-link':''}">
				<a href="/runs">
					<div class="icon">
						<i class="fa fa-play"></i>
					</div> <span>Runs</span>
			</a>
			</li>
			<li
				th:classappend="${#httpServletRequest.getRequestURI().startsWith('/programs') ? 'active-link':''}">
				<a href="/programs">
					<div class="icon">
						<i class="fa fa-calculator"></i>
					</div> <span>Programs</span>
			</a>
			</li>
			<li
				th:classappend="${#httpServletRequest.getRequestURI().startsWith('/data') ? 'active-link':''}">
				<a href="/data">
					<div class="icon">
						<i class="fa fa-database"></i>
					</div> <span>Data</span>
			</a>
			</li>
			<li
				th:classappend="${#httpServletRequest.getRequestURI().startsWith('/results') ? 'active-link':''}">
				<a href="/results">
					<div class="icon">
						<i class="fa fa-bar-chart"></i>
					</div> <span>Results</span>
			</a>
			</li>
			<li
				th:classappend="${#httpServletRequest.getRequestURI().startsWith('/utilities') ? 'active-link':''}">
				<a href="/utilities">
					<div class="icon">
						<i class="fa fa-wrench"></i>
					</div> <span>Components</span>
			</a>
			</li>
		</ul>
		<div class="version">
			v1.0.2</span>
		</div>
	</div>
	<div id="content-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger" th:unless="${connected}">
						<div class="icon">
							<i class="fa fa-warning"></i> <strong>A connection to
								the ClustEval server could not be established:</strong>
						</div>
						<div th:text="${connectError}"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-md-12">
				<div th:each="message : ${failure}">
					<div class="alert alert-danger">
						<div class="icon">
							<i class="fa fa-warning"></i> <span th:text="${message}"></span>
						</div>
					</div>
				</div>
				<div th:each="message : ${success}">
					<div class="alert alert-success">
						<div class="icon">
							<i class="fa fa-check-circle-o"></i> <span th:text="${message}"></span>
						</div>
					</div>
				</div>
				<div th:each="message : ${info}">
					<div class="alert alert-info">
						<div class="icon">
							<i class="fa fa-info-circle"></i> <span th:text="${message}"></span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div layout:fragment="content">
						<!-- ============================================================================ -->
						<!-- This content is only used for static prototyping purposes (natural templates)-->
						<!-- and is therefore entirely optional, as this markup fragment will be included -->
						<!-- from "fragments/header.html" at runtime.                                     -->
						<!-- ============================================================================ -->
						<h1>Static content for prototyping purposes only</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Praesent scelerisque neque neque, ac elementum quam dignissim
							interdum. Phasellus et placerat elit. Lorem ipsum dolor sit amet,
							consectetur adipiscing elit. Praesent scelerisque neque neque, ac
							elementum quam dignissim interdum. Phasellus et placerat elit.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer> </footer>

	<div id="modal-container"></div>
</body>
</html>
