<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content" id="data_preprocessors">
        <div class="pull-right">
            <a href="/utilities/upload-data-preprocessors" class="btn btn-success">Upload data preprocessors</a>
        </div>

        <h1>Available data preprocessors</h1>
        <div class="box preprocessor-container" th:each="preprocessor: ${preprocessors}">
            <a class="delete-button delete-data" th:href="@{/data_preprocessors/delete(name=${preprocessor.getName()},
            version=${preprocessor.getVersion()})}">
                <i class="fa fa-trash"></i>
            </a>
            <strong th:text="${preprocessor.toString(true)}" class="preprocessor-name fetch-preprocessor"></strong>
            <div class="preprocessor-information"></div>
        </div>
    </div>
</body>
</html>
