<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content" id="run_result_formats">
        <div class="pull-right">
            <a href="/utilities/upload-run-result-format" class="btn btn-success">Upload run result format</a>
        </div>

        <h1>Available run result formats</h1>
        <div class="box formats-container" th:each="format: ${formats}">
            <a class="delete-button delete-data" th:href="@{/run_result_formats/delete(name=${format.getName()},
            version=${format.getVersion()})}">
                <i class="fa fa-trash"></i>
            </a>
            <strong th:text="${format.toString(true)}" class="format-name fetch-format"></strong>
            <div class="format-information"></div>
        </div>
    </div>
</body>
</html>
