<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content" id="distance_measures">
        <div class="pull-right">
            <a href="/utilities/upload-distance-measure" class="btn btn-success">Upload distance measure</a>
        </div>

        <h1>Available distance measures</h1>
        <div class="box program-container" th:each="measure: ${measures}">
            <strong th:text="${measure}" class="measure-name fetch-measure"></strong>
            <div class="measure-information"></div>
        </div>
    </div>
</body>
</html>
