<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
	<div layout:fragment="content">
		<div class="page-header">
			<h1>
				Editing program configuration <strong th:text="${name}"></strong> <span
					class="label label-primary">Version <span
					th:text="${version}"></span></span>
			</h1>
		</div>
		<form class="program-creation form-horizontal"
			th:action="@{/programs/edit}" method="post"
			th:object="${programCreation}"
			th:include="programs/form :: program-form"
			enctype="multipart/form-data"></form>
	</div>
</body>
</html>
