<div th:fragment="program-form">
	<h2>General Information</h2>
	<div class="form-group">
		<div class="col-sm-3">
			<label>Is R program?</label>
		</div>
		<div class="col-sm-9">
			<input class="checkbox-optimize" type="checkbox" checked
				th:field="*{isRProgram}" th:errorclass="has-error"></label> <span
				class="help-block">Your program can either be a standalone
				executable or a Java implementation using R (implementing the
				ClustEval IRProgram interface). If you do not tick this, your
				program will be treated as a standalone executable.</span>
		</div>
	</div>
	<div class="form-group filter"
		data-programtype="[&quot;r&quot;,&quot;standalone&quot;]">
		<div class="col-sm-3">
			<label> Name of program <span class="error"
				th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
		</div>
		<div class="col-sm-9">
			<input placeholder="Name of program" type="text" name="name"
				th:field="*{name}" class="form-control" th:errorclass="has-error">
		</div>
	</div>
	<input type="hidden" name="originalName" th:field="*{originalName}">
	<div class="form-group filter"
		data-programtype="[&quot;standalone&quot;]">
		<div class="col-sm-3">
			<label> Alias of program <span class="error"
				th:if="${#fields.hasErrors('alias')}" th:errors="*{alias}"></label>
		</div>
		<div class="col-sm-9">
			<input placeholder="Alias of program" type="text" name="alias"
				th:field="*{alias}" class="form-control" th:errorclass="has-error">
		</div>
	</div>
	<div class="form-group filter"
		data-programtype="[&quot;standalone&quot;]">
		<div class="col-sm-3">
			<label> Invocation format <span class="error"
				th:if="${#fields.hasErrors('invocationFormat')}"
				th:errors="*{invocationFormat}"></label>
		</div>
		<div class="col-sm-9">
			<input placeholder="Example: %e% --input %i% --output %o% --T %T%"
				type="text" name="invocationFormat" th:field="*{invocationFormat}"
				class="form-control" th:errorclass="has-error"><span
				class="help-block"> The invocation format specifies how
				ClustEval will invoke your program. This invocation format has to
				contain placeholder variables for the executable name ("%e%"), the
				input data set file ("%i%"), the path to the result file produced by
				your program ("%o%"), as well as for parameter values passed on to
				your program ("%PARAMETER_NAME%"). The placeholder variables will be
				replaced by ClustEval during execution of a run.</span>
		</div>
	</div>
	<input type="hidden" name="version" th:field="*{version}">
	<div class="form-group filter"
		data-programtype="[&quot;standalone&quot;]">
		<div class="col-sm-3">
			<label> Compatible data set formats </label>
		</div>
		<div class="col-sm-9">
			<select class="select2-multiple compatible-input-formats" multiple="multiple"
				name="compatibleDataSetFormats">
				<option th:each="format : ${compatibleDataSetFormats}"
					th:value="${format}" th:text="${format.toString(true)}"
					th:selected="${#lists.contains(programCreation.compatibleDataSetFormats, format.toString())}" />
			</select>
		</div>
	</div>
	<div class="form-group filter"
		data-programtype="[&quot;standalone&quot;]">
		<div class="col-sm-3">
			<label> Output format </label>
		</div>
		<div class="col-sm-9">
			<select class="select2-multiple output-format" name="outputFormat">
				<option th:each="outputFormat : ${outputFormats}"
					th:value="${outputFormat}" th:text="${outputFormat.toString(true)}"
					th:selected="${outputFormat.toString().equals(programCreation.outputFormat)}" />
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-3">
			<label> Program executable file <span class="error"
				th:if="${#fields.hasErrors('executableFile')}"
				th:errors="*{executableFile}"></label>
		</div>
		<div class="col-sm-9">
			<input type="file" name="executableFile">
		</div>
	</div>
	<div class="filter" data-programtype="[&quot;standalone&quot;]">
		<h2>Program parameters</h2>
		<div id="program-parameters">
			<div class="box" th:each="parameter, parameterStat : *{parameters}">
				<div class="form-group">
					<div class="col-sm-3">
						<label> Parameter name <span class="error"
							th:if="${#fields.hasErrors('parameters[__${parameterStat.index}__].name')}"
							th:errors="*{parameters[__${parameterStat.index}__].name}"></span>
						</label>
					</div>
					<div class="col-sm-9">
						<input placeholder="Parameter name" type="text"
							class="form-control" name="name"
							th:field="*{parameters[__${parameterStat.index}__].name}"
							th:errorclass="has-error">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label> Parameter description <span class="error"
							th:if="${#fields.hasErrors('parameters[__${parameterStat.index}__].description')}"
							th:errors="*{parameters[__${parameterStat.index}__].description}"></span>
						</label>
					</div>
					<div class="col-sm-9">
						<input placeholder="Parameter description" type="text"
							class="form-control" name="description"
							th:field="*{parameters[__${parameterStat.index}__].description}"
							th:errorclass="has-error">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label>Parameter type</label>
					</div>
					<div class="col-sm-9">
						<select class="parameter-type" name="type"
							th:field="*{parameters[__${parameterStat.index}__].type}"
							th:errorclass="has-error">
							<option value="1">Integer</option>
							<option value="2">Float</option>
							<option value="0">String</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label> Default value <span class="error"
							th:if="${#fields.hasErrors('parameters[__${parameterStat.index}__].defaultValue')}"
							th:errors="*{parameters[__${parameterStat.index}__].defaultValue}"></span>
						</label>
					</div>
					<div class="col-sm-9">
						<input placeholder="Default value" type="text"
							class="form-control" name="defaultValue"
							th:field="*{parameters[__${parameterStat.index}__].defaultValue}"
							th:errorclass="has-error">
					</div>
				</div>
				<div class="parameter-non-string">
					<div class="form-group">
						<div class="col-sm-3">
							<label> Minimum value <span class="error"
								th:if="${#fields.hasErrors('parameters[__${parameterStat.index}__].minValue')}"
								th:errors="*{parameters[__${parameterStat.index}__].minValue}"></span>
							</label>
						</div>
						<div class="col-sm-9">
							<input placeholder="Minimum value" type="text"
								class="form-control" name="minValue"
								th:field="*{parameters[__${parameterStat.index}__].minValue}"
								th:errorclass="has-error">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3">
							<label> Maximum value <span class="error"
								th:if="${#fields.hasErrors('parameters[__${parameterStat.index}__].maxValue')}"
								th:errors="*{parameters[__${parameterStat.index}__].maxValue}"></span>
							</label>
						</div>
						<div class="col-sm-9">
							<input placeholder="Maximum value" type="text"
								class="form-control" name="maxValue"
								th:field="*{parameters[__${parameterStat.index}__].maxValue}"
								th:errorclass="has-error">
						</div>
					</div>
				</div>
				<div class="parameter-string">
					<div class="form-group">
						<div class="col-sm-3">
							<label> Options <span class="error"
								th:if="${#fields.hasErrors('parameters[__${parameterStat.index}__].options')}"
								th:errors="*{parameters[__${parameterStat.index}__].options}"></span>
							</label>
						</div>
						<div class="col-sm-9">
							<select multiple class="tags" name="options"
								th:field="*{parameters[__${parameterStat.index}__].options}"
								th:errorclass="has-error">
								<option
									th:each="option : *{parameters[__${parameterStat.index}__].options}"
									th:value="${option}" th:text="${option}" selected />
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label>
					</div>
					<div class="col-sm-9">
						<input class="checkbox-optimize" type="checkbox" checked
							th:field="*{parameters[__${parameterStat.index}__].optimizable}"
							th:errorclass="has-error">Optimizable </label>
					</div>
				</div>
			</div>
		</div>
		<a class="add-program-parameter gray-button"><i class="fa fa-plus"></i>
			Add program parameter</a>
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-primary btn-block" value="Upload">
	</div>
</div>
