<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
	<div layout:fragment="content" id="programs">
		<div class="pull-right">
			<a href="/programs/upload" class="btn btn-lg btn-success">Upload
				new program</a>
		</div>

		<th:block th:if="${!parsingErrors.isEmpty()}">
			<a class="btn btn-danger" role="button" data-toggle="collapse"
			href="#parsingErrors" aria-expanded="false"
			aria-controls="parsingErrors"> Parsing errors <span class="badge"
			th:text="${parsingErrors.size()}"></span></a>

		
			<div class="error-list" class="collapse" id="parsingErrors">
				<div class="error" th:each="program : ${parsingErrors.keySet()}">
					<div th:attr="data-name=${program}">
						<ul th:each="error : ${parsingErrors.get(program)}">
							<li class="alert alert-danger">
								<div class="icon">
									<i class="fa fa-warning"></i> <span class="name"
										th:text="${program}"></span> <a
										class="delete-button delete-program"
										th:attr="data-name=${program.getName()},data-version=${program.getVersion()}"><i
										class="fa fa-trash"></i></a> <a class="edit-button"
										th:href="@{/programs/edit(name=${program.getName()},version=${program.getVersion()})}">
										<i class="fa fa-edit"></i>
									</a><br /> <span th:text="${error}"></span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</th:block>

		<div class="page-header">
			<h1>Available programs</h1>
		</div>
		<div class="box program-container-outer"
			th:each="programName: ${programs.keySet()}">
			<span class="toggle large"> <i class="fa fa-expand"></i> <strong><span
					th:text="${programName.getSecond()}"></span> <small><span
						style="color: #777;" th:text="${'Configuration: ' + programName.getFirst()}"></span></small></strong>
			</span> <strong th:text="${programName}" style="display: none;"
				class="fetch-program program-name"></strong>

			<div class="program-information-outer" style="display: none;">
				<div class="program-container"
					th:each="version: ${programs.get(programName).keySet()}">
					<a class="delete-button delete-program"
						th:attr="data-name=${programName.getFirst()},data-version=${version}">
						<i class="fa fa-trash"></i>
					</a> <a class="edit-button"
						th:href="@{/programs/edit(name=${programName.getFirst()},version=${version})}">
						<i class="fa fa-edit"></i>
					</a> <span class="toggle large"> <i class="fa fa-expand"></i> <strong
						class="label label-primary" th:text="${'Configuration version: ' + version}"></strong>
					</span>
					<div th:text="${version}" style="display: none;"
						class="fetch-program-version program-version"></div>
					<div class="program-information"></div>
				</div>
			</div>
		</div>

		<!--    <h1>Available executables</h1>
        <div class="box program-container-outer" th:each="execName: ${executables.keySet()}">
	        <span class="toggle large">
	            <i class="fa fa-expand"></i>
	            <strong th:text="${'Executable: ' + execName}"></strong>
	        </span>
	        <strong th:text="${execName}" style="display: none;" class="fetch-exec exec-name"></strong>
	        
	        <div class="program-information-outer" style="display:none;">
		        <div class="program-container" th:each="version: ${executables.get(execName).keySet()}">
		            <a class="delete-button delete-exec" th:href="@{/executables/delete(name=${execName},version=${version})}">
		                <i class="fa fa-trash"></i>
		            </a>
		            <span class="toggle large">
		                <i class="fa fa-expand"></i>
		                <strong th:text="${'Version: ' + version}"></strong>
		            </span>
		            <div th:text="${version}" style="display: none;" class="fetch-exec-version exec-version"></div>
		            <div class="exec-information"></div>
		        </div>
		    </div>
		</div> -->
	</div>
</body>
</html>
