<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content" id="dataset_types">
        <div class="pull-right">
            <a href="/utilities/upload-data-set-type" class="btn btn-success">Upload dataset types</a>
        </div>

        <h1>Available dataset types</h1>
        <div class="box type-container" th:each="type: ${types}">
            <a class="delete-button delete-data" th:href="@{/dataset_types/delete(name=${type.getName()},
            version=${type.getVersion()})}">
                <i class="fa fa-trash"></i>
            </a>
            <strong th:text="${type.toString(true)}" class="type-name fetch-type"></strong>
            <div class="type-information"></div>
        </div>
    </div>
</body>
</html>
