<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content" id="data_statistics">
        <div class="pull-right">
            <a href="/utilities/upload-data-statistic" class="btn btn-success">Upload data statistic</a>
        </div>

        <h1>Available data statistics</h1>
        <div class="box statistic-container" th:each="statistic: ${statistics}">
            <a class="delete-button delete-data" th:href="@{/data_statistics/delete(name=${statistic.getName()},
            version=${statistic.getVersion()})}">
                <i class="fa fa-trash"></i>
            </a>
            <strong th:text="${statistic.toString(true)}" class="statistic-name fetch-statistic"></strong>
            <div class="statistic-information"></div>
        </div>
    </div>
</body>
</html>
