<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content" id="data_generators">
        <div class="pull-right">
            <a href="/utilities/upload-data-generators" class="btn btn-success">Upload data generators</a>
        </div>

        <h1>Available data generators</h1>
        <div class="box generator-container" th:each="generator: ${generators}">
            <a class="delete-button delete-data" th:href="@{/data_generators/delete(name=${generator.getName()},
            version=${generator.getVersion()})}">
                <i class="fa fa-trash"></i>
            </a>
            <strong th:text="${generator.toString(true)}" class="generator-name fetch-generator"></strong>
            <div class="generator-information"></div>
        </div>
    </div>
</body>
</html>
