<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
	<div layout:fragment="content" id="runs">
		<div class="page-header">
			<h1>
				Editing run <strong th:text="${runCreation.name}"></strong> <span
					class="label label-primary">Version <span
					th:text="${runCreation.version}"></span></span>
			</h1>
		</div>
		<form class="run-creation" th:action="@{/runs/edit}" method="post"
			th:object="${runCreation}" th:include="runs/form :: run-form">
		</form>
	</div>
</body>
</html>
