<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div th:fragment="run-form">
		<ul class="myAccordion">
			<li class="open"><span class="section-header"> <span>Run
						type</span>
			</span>
				<div class="section-content">
					<h2>Choose a run type and provide basic settings</h2>
					<span class="help-block"> Here you can set basic settings
						and provide information about your run. You can come back later by
						editing your run and change these settings. </span>
					<div class="form-group">
						<label> Name of run <span class="error"
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
						<span class="help-block"> The name of your run will be used
							by ClustEval to uniquely identify it amongst all other runs. If
							you perform a run the corresponding run execution will be
							assigned a unique ID which will also be used to store the results
							of the run.</span> <input placeholder="Name of run" type="text"
							name="name" th:field="*{name}" class="form-control"
							th:errorclass="has-error"> <input type="hidden"
							name="originalName" th:field="*{originalName}"
							class="form-control">
					</div>
					<div class="form-group">
						<input placeholder="Version of run" type="hidden" name="version"
							th:field="*{version}" class="form-control"
							th:errorclass="has-error">
					</div>
					<div class="form-group">
						<label> Run type <span class="error"
							th:if="${#fields.hasErrors('mode')}" th:errors="*{mode}"></label>
						<span class="help-block"> ClustEval supports different
							types of runs: Those which focus on clustering data and apply one
							or several clustering methods to one or several data sets. On the
							other hand there are analysis runs which can analyze different
							aspects, such as a data set or the clustering results of another
							run execution.</span>
						<div class="radio">
							<label> <input type="radio" name="mode"
								th:field="*{mode}" value="clustering"> Clustering run
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" name="mode"
								th:field="*{mode}" value="parameter_optimization">
								Parameter optimization run
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" name="mode"
								th:field="*{mode}" value="dataAnalysis"> Data analysis
								run
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" name="mode"
								th:field="*{mode}" value="runAnalysis"> Run analysis run
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" name="mode"
								th:field="*{mode}" value="runDataAnalysis"> Run-data
								analysis run
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" name="mode"
								th:field="*{mode}" value="robustnessAnalysis">
								Robustness analysis run
							</label>
						</div>
					</div>
				</div></li>
			<li><span class="section-header"> <span>Programs</span>
			</span>
				<div class="section-content">
					<div class="filter"
						data-mode="[&quot;clustering&quot;,&quot;parameter_optimization&quot;,&quot;robustnessAnalysis&quot;]">
						<div class="form-group">
							<h2>Programs</h2>
							<div class="form-group">
								<label> Select programs <span class="error"
									th:if="${#fields.hasErrors('programs')}"
									th:errors="*{programs}"></label> <span class="help-block">
									Please select the programs (actually program configurations)
									that should be used to cluster the data sets you choose in the
									"Data" section.</span> <select class="select2-multiple programs"
									multiple="multiple" name="programs" data-index="0">
									<option th:each="program : ${programs}" th:value="${program}"
										th:text="${program.getProgram().getAlias()}"
										th:selected="${runCreation.programs.contains(program.toString())}" />
								</select> <input type="hidden" class="placeholder" name="programs"
									value="DUMMY" disabled>
							</div>
							<span class="help-block"> For each program you selected
								above you will be able to specify options for its parameters
								below. For example, you can specify default values for
								parameters or choose the parameters that should be optimized in
								parameter optimization runs.</span>
							<div id="program-parameters">
								<div class="program"
									th:each="programSetting, programSettingStat: *{programSettings}"
									th:attr="data-name='${programSetting.name}'">
									<strong>Program: </strong><span class="name"
										th:id="${'program-name-' + programSetting.name.replace(':','_')}"
										th:text="${programSetting.name}"></span>
									<script th:inline="javascript">
											$(document).ready(function() {
												var id = '#' + [[${'program-name-' + programSetting.name.replace(':','_')}]];
												$(id).html(formatAliasAndNameWithVersion([[${programSetting.alias}]], [[${programSetting.name}]]));
											});
											
										</script>
									<span class="error"
										th:if="${#fields.hasErrors('programSettings[__${programSettingStat.index}__].parameters')}"
										th:errors="*{programSettings[__${programSettingStat.index}__].parameters}"></span>
									<input type="hidden"
										th:field="*{programSettings[__${programSettingStat.index}__].name}" />
									<span class="toggle"><i class="fa fa-expand"></i></span>
									<div class="program-content">
										<div class="program-content-parameter"
											th:each="programParameter, programParamStat: ${programSetting.parameters}">
											<hr>
											<strong>Parameter:</strong> <span
												th:text="${programParameter.name}"></span> <input
												type="hidden"
												th:field="*{programSettings[__${programSettingStat.index}__].parameters[__${programParamStat.index}__].name}" />
											<br> <strong>Defaults:</strong>
											<th:block
												th:each="programParameterOption, optionStat: ${programParameter.defaultOptions}">
												<th:block
													th:if="${programParameterOption.name == 'minValue'}">
													<br>
                                                Minimum value: <span
														th:text="${programParameterOption.value}"></span>
												</th:block>
												<th:block
													th:if="${programParameterOption.name == 'maxValue'}">
													<br>
                                                Maximum value: <span
														th:text="${programParameterOption.value}"></span>
												</th:block>
												<input type="hidden"
													th:field="*{programSettings[__${programSettingStat.index}__].parameters[__${programParamStat.index}__].defaultOptions[__${optionStat.index}__].name}" />
												<input type="hidden"
													th:field="*{programSettings[__${programSettingStat.index}__].parameters[__${programParamStat.index}__].defaultOptions[__${optionStat.index}__].value}" />
											</th:block>
											<div class="filter"
												data-mode="[&quot;clustering&quot;,&quot;robustnessAnalysis&quot;]">
												<label> Overwrite default value <input
													placeholder="Default value" class="form-control"
													type="text"
													th:field="*{programSettings[__${programSettingStat.index}__].parameters[__${programParamStat.index}__].value}" />
												</label>
											</div>
											<div class="filter"
												data-mode="[&quot;parameter_optimization&quot;]">
												<th:block
													th:if="*{programSettings[__${programSettingStat.index}__].parameters[__${programParamStat.index}__].optimizable} == true">
													<label> <input class="checkbox-optimize"
														disabled="disabled" type="checkbox"
														th:field="*{programSettings[__${programSettingStat.index}__].parameters[__${programParamStat.index}__].optimize}" />
														Optimize
													</label>
													<input type="hidden"
														th:field="*{programSettings[__${programSettingStat.index}__].parameters[__${programParamStat.index}__].optimizable}" />
												</th:block>
												<th:block
													th:if="*{programSettings[__${programSettingStat.index}__].parameters[__${programParamStat.index}__].options} == null">
													<div
														th:if="*{programSettings[__${programSettingStat.index}__].parameters[__${programParamStat.index}__].optimizable} == true"
														class="optimize-parameter optimize">
														<label> Overwrite minimum value <input
															placeholder="Minimum value" class="form-control"
															type="text"
															th:field="*{programSettings[__${programSettingStat.index}__].parameters[__${programParamStat.index}__].minValue}" />
														</label> <label> Overwrite maximum value <input
															placeholder="Maximum value" class="form-control"
															type="text"
															th:field="*{programSettings[__${programSettingStat.index}__].parameters[__${programParamStat.index}__].maxValue}" />
														</label>
													</div>
													<div class="optimize-parameter no-optimize">
														<label> Overwrite default value <input
															disabled="disabled" class="form-control" type="text"
															th:field="*{programSettings[__${programSettingStat.index}__].parameters[__${programParamStat.index}__].value}" />
														</label>
													</div>
												</th:block>
												<th:block
													th:if="*{programSettings[__${programSettingStat.index}__].parameters[__${programParamStat.index}__].options} != null">
													<label> Values <input class="form-control"
														type="text"
														th:field="*{programSettings[__${programSettingStat.index}__].parameters[__${programParamStat.index}__].options}" />
													</label>
												</th:block>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div></li>
			<li><span class="section-header"> <span>Data</span>
			</span>
				<div class="section-content">
					<h2>Data</h2>

					<div class="filter"
						data-mode="[&quot;clustering&quot;,&quot;parameter_optimization&quot;,&quot;dataAnalysis&quot;,&quot;robustnessAnalysis&quot;]">
						<div class="form-group">
							<label> Data configs <span class="error"
								th:if="${#fields.hasErrors('dataSets')}" th:errors="*{dataSets}"></label>
							<span class="help-block"> Please choose the data sets
								(actually, data configurations) you want to cluster or analyze
								(depending on the selected run type).</span> <select
								class="select2-multiple datasets" multiple="multiple"
								name="dataSets">
								<option th:each="dataSet : ${dataSets}" th:value="${dataSet}"
									th:text="${dataSet.getDatasetConfig().getDataSet().getAlias()}"
									th:selected="${runCreation.dataSets.contains(dataSet.toString())}" />
							</select> <input class="placeholder" type="hidden" name="dataSets"
								value="DUMMY" disabled>
						</div>
					</div>

				</div></li>
			<li><span class="section-header"> <span>Cluster
						Validation</span>
			</span>
				<div class="section-content">
					<h2>Cluster Validation</h2>

					<div class="filter"
						data-mode="[&quot;clustering&quot;,&quot;parameter_optimization&quot;,&quot;robustnessAnalysis&quot;]">
						<div class="form-group">
							<label> Quality measures <span class="error"
								th:if="${#fields.hasErrors('qualityMeasures')}"
								th:errors="*{qualityMeasures}"></label><span class="help-block">
								The cluster quality measures (also, cluster validity indices)
								you choose here will be evaluated for each clustering.</span> <select
								class="select2-multiple quality-measures" multiple="multiple"
								name="qualityMeasures">
								<option th:each="qualityMeasure : ${qualityMeasures}"
									th:value="${qualityMeasure}"
									th:text="${qualityMeasure.toString(true)}"
									th:selected="${runCreation.qualityMeasures.contains(qualityMeasure.toString())}" />
							</select> <input class="placeholder" type="hidden" name="qualityMeasures"
								value="DUMMY" disabled>
						</div>
					</div>

				</div></li>
			<li><span class="section-header"> <span>Parameter
						optimization</span>
			</span>
				<div class="section-content">
					<h2>Parameter optimization</h2>

					<div class="filter"
						data-mode="[&quot;parameter_optimization&quot;]">
						<div class="form-group">
							<label> Optimization criterion <span class="error"
								th:if="${#fields.hasErrors('optimizationCriterion')}"
								th:errors="*{optimizationCriterion}"></label> <span
								class="help-block"> Some parameter optimization methods
								(see below) steer the optimization process towards parameter
								sets that result in clusterings of higher validity than other
								parameter sets. Please choose, which of the previously selected
								clustering quality measures to use as optimization criterion:</span><select
								class="select2-multiple optimization-criterion"
								name="optimizationCriterion">
								<option th:each="qualityMeasure : ${qualityMeasures}"
									th:value="${qualityMeasure}"
									th:text="${qualityMeasure.toString(true)}" disabled
									th:selected="${runCreation.optimizationCriterion != null && qualityMeasure.toString().equals(runCreation.optimizationCriterion.toString())}" />
							</select> <input class="placeholder" type="hidden"
								name="optimizationCriterion" value="DUMMY" disabled>
						</div>

						<div class="form-group">
							<label> Optimization method <span class="error"
								th:if="${#fields.hasErrors('optimizationMethod')}"
								th:errors="*{optimizationMethod}"></label> <span
								class="help-block"> Parameter optimization methods
								determine, which parameter sets should be evaluated for a
								specific program and data set.</span><select
								class="select2-multiple optimization-method"
								name="optimizationMethod">
								<option th:each="optimizationMethod : ${optimizationMethods}"
									th:value="${optimizationMethod}"
									th:text="${optimizationMethod.toString(true)}"
									th:selected="${runCreation.optimizationMethod != null && optimizationMethod.toString().equals(runCreation.optimizationMethod.toString())}" />
							</select> <input class="placeholder" type="hidden"
								name="optimizationMethod" value="DUMMY" disabled>
						</div>

						<div class="form-group">
							<label> Optimization iterations <span class="error"
								th:if="${#fields.hasErrors('optimizationIterations')}"
								th:errors="*{optimizationIterations}"></label> <span
								class="help-block"> For each program and data set the
								here specified number of parameter sets will be evaluated. The
								larger this number, the more likely it is to identify good
								parameter values. But also, the longer the optimization process
								will take.</span><input type="number" name="optimizationIterations"
								th:field="*{optimizationIterations}" class="form-control">
							<input class="placeholder" type="hidden"
								name="optimizationIterations" value="1" disabled>
						</div>
					</div>

				</div></li>
			<li><span class="section-header"> <span>Analysis</span>
			</span>
				<div class="section-content">
					<h2>Analysis</h2>

					<div class="filter" data-mode="[&quot;dataAnalysis&quot;]">
						<div class="form-group">
							<label> Data statistics <span class="error"
								th:if="${#fields.hasErrors('dataStatistics')}"
								th:errors="*{dataStatistics}"></label> <span class="help-block">
								Please choose which data statistics you want to analyze for each
								specified data set.</span><select
								class="select2-multiple data-statistics" multiple="multiple"
								name="dataStatistics">
								<option th:each="dataStatistic : ${dataStatistics}"
									th:value="${dataStatistic}"
									th:text="${dataStatistic.toString(true)}"
									th:selected="${#lists.contains(runCreation.dataStatistics, dataStatistic.toString())}" />
							</select> <input class="placeholder" type="hidden" name="dataStatistics"
								value="DUMMY" disabled>
						</div>
					</div>

					<div class="filter" data-mode="[&quot;runAnalysis&quot;]">
						<div class="form-group">
							<label> Run statistics <span class="error"
								th:if="${#fields.hasErrors('runStatistics')}"
								th:errors="*{runStatistics}"></label> <span class="help-block">
								Please choose which run statistics you want to analyze for each
								specified run result.</span><select
								class="select2-multiple run-statistics" multiple="multiple"
								name="runStatistics">
								<option th:each="runStatistic : ${runStatistics}"
									th:value="${runStatistic}"
									th:text="${runStatistic.toString(true)}"
									th:selected="${#lists.contains(runCreation.runStatistics, runStatistic.toString())}" />
							</select> <input class="placeholder" type="hidden" name="runStatistics"
								value="DUMMY" disabled>
						</div>
					</div>

					<div class="filter" data-mode="[&quot;runDataAnalysis&quot;]">
						<div class="form-group">
							<label> Run-data statistics <span class="error"
								th:if="${#fields.hasErrors('runDataStatistics')}"
								th:errors="*{runDataStatistics}"></label> <span
								class="help-block"> Please choose which run-data
								statistics you want to analyze for each pair of specified data
								analysis result and clustering result.</span><select
								class="select2-multiple run-data-statistics" multiple="multiple"
								name="runDataStatistics">
								<option th:each="runDataStatistic : ${runDataStatistics}"
									th:value="${runDataStatistic}"
									th:text="${runDataStatistic.toString(true)}"
									th:selected="${#lists.contains(runCreation.runDataStatistics, runDataStatistic.toString())}" />
							</select> <input class="placeholder" type="hidden"
								name="runDataStatistics" value="DUMMY" disabled>
						</div>

						<div class="form-group">
							<label> Unique data identifiers <span class="error"
								th:if="${#fields.hasErrors('uniqueDataIdentifiers')}"
								th:errors="*{uniqueDataIdentifiers}"></label> <span
								class="help-block"> Please choose which data sets
								(actually, data configurations) you want to analyze.</span><select
								class="select2-multiple" multiple="multiple"
								name="uniqueDataIdentifiers">
								<option
									th:each="uniqueDataIdentifier : ${uniqueDataIdentifiers}"
									th:value="${uniqueDataIdentifier}"
									th:text="${uniqueDataIdentifier}"
									th:selected="${#lists.contains(runCreation.uniqueDataIdentifiers, uniqueDataIdentifier)}" />
							</select> <input class="placeholder" type="hidden"
								name="uniqueDataIdentifiers" value="DUMMY" disabled>
						</div>
					</div>

					<div class="filter"
						data-mode="[&quot;runAnalysis&quot;,&quot;runDataAnalysis&quot;,&quot;robustnessAnalysis&quot;]">
						<div class="form-group">
							<label> Unique run identifiers <span class="error"
								th:if="${#fields.hasErrors('uniqueRunIdentifiers')}"
								th:errors="*{uniqueRunIdentifiers}"></label> <span
								class="help-block"> Please choose which run results you
								want to analyze.</span><select class="select2-multiple"
								multiple="multiple" name="uniqueRunIdentifiers">
								<option th:each="uniqueRunIdentifier : ${uniqueRunIdentifiers}"
									th:value="${uniqueRunIdentifier}"
									th:text="${uniqueRunIdentifier}"
									th:selected="${#lists.contains(runCreation.uniqueRunIdentifiers, uniqueRunIdentifier)}" />
							</select> <input class="placeholder" type="hidden"
								name="uniqueRunIdentifiers" value="DUMMY" disabled>
						</div>
					</div>
				</div></li>
			<li><span class="section-header"> <span>Randomizers</span>
			</span>
				<div class="section-content">
					<div class="filter" data-mode="[&quot;robustnessAnalysis&quot;]">
						<div class="form-group">
							<label>Randomizers</label> <span class="help-block">
								Please choose which randomizer should be used to distort the
								specified data sets.</span><select
								class="select2-multiple data-randomizer" name="randomizer"
								id="select-randomizer">
								<option th:each="randomizer : ${randomizers}"
									th:value="${randomizer}" th:text="${randomizer.toString(true)}"
									th:selected="${runCreation.randomizer != null ? runCreation.randomizer.equals(randomizer) : false}" />
							</select>
						</div>

						<div class="form-group">
							<label>Number of randomized data sets (per parameter set)</label><span
								class="help-block"> For each specified data set and
								"randomizer parameter set" (see below), the following number of
								distorted data set versions will be generated:</span> <input
								type="number" name="numberOfRandomizedDataSets"
								th:field="*{numberOfRandomizedDataSets}" class="form-control">
						</div>
						<span class="help-block">Some randomizers provide
							parameters for which you need to specify parameter values. Here
							you can specify multiple randomizer parameter sets for the
							selected randomizer. </span><span class="help-block">If you
							specify multiple randomizer parameter sets, the previously
							specified number of distorted data sets will be generated for
							each such parameter set and previously specified data set.</span>
						<div class="randomizers">
							<div
								th:each="parameterList, randStat : ${runCreation.randomizerParameters}"
								class="randomizer">
								<div class="form-group"
									th:each="parameter, paramStat : ${parameterList}">
									<label> <span th:text="${parameter.name}"></span> - <span
										th:text="${parameter.description}"></span>
									</label> <input class="form-control" type="text"
										th:field="*{randomizerParameters[__${randStat.index}__][__${paramStat.index}__].value}" />
									<input type="hidden"
										th:field="*{randomizerParameters[__${randStat.index}__][__${paramStat.index}__].description}" />
									<input type="hidden"
										th:field="*{randomizerParameters[__${randStat.index}__][__${paramStat.index}__].name}" />
								</div>
							</div>
						</div>

						<a class="gray-button add-randomizer"><i class="fa fa-plus"></i>
							Add randomizer parameter set</a>
					</div>
				</div></li>
			<li><span class="section-header"> <span>Finish</span>
			</span>
				<div class="section-content">
					<div id="estimatedRuntimesDiv" style="display:none;">
						<h4>Estimated runtimes</h4>
						<span class="help-block"> 
						We estimated approximate running times for the programs you selected in this run. Some remarks:
						<ul>
							<li>The expected running time of a program covers all selected data sets, as well as the specified number of iterations.</li>
							<li>Each program's estimated runtime is to be seen independently and assumes, that all available cores are used for the execution.</li>
							<li>The program's runtimes are additive, i.e. the total expected runtime of all programs on all data sets is the sum of the individual program runtimes.</li>
							<li>Approximations are based on previous execution times of each program on predefined data sets of varying sizes.</li>
						</ul>
						</span>
						<ul id="estimatedRuntimesList">
						</ul>
					</div>
					<h2>Complete your run</h2>
					<div class="form-group">
						<span class="help-block"> By clicking on the button below,
							your run will be created with your specified options. </span><span
							class="help-block">If your settings are valid, the run
							will appear in the list of runs and you will be able to execute
							it from there. </span><span class="help-block">You will also be
							able to return to this form and edit your run later.</span>
						<button type="submit" class="gray-button">Create run</button>
					</div>
				</div></li>
		</ul>
	</div>
</body>
</html>
