<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
	<div layout:fragment="content" id="runs">

		<th:block th:if="${!parsingErrors.isEmpty()}">
			<a class="btn btn-danger" role="button" data-toggle="collapse"
				href="#parsingErrors" aria-expanded="false"
				aria-controls="parsingErrors"> Parsing errors <span
				class="badge" th:text="${parsingErrors.size()}"></span></a>


			<div class="error-list" class="collapse" id="parsingErrors">
				<div class="error"
					th:each="run, runLoop : ${parsingErrors.keySet()}">
					<div th:attr="data-name=${run}">
						<ul th:each="error : ${parsingErrors.get(run)}">
							<div class="alert alert-danger">
								<div class="icon">
									<i class="fa fa-warning"></i> <span class="name"
										th:text="${run}"></span> <a
										class="delete-button pull-right delete-run"
										th:attr="data-name=${run.getName()},data-version=${run.getVersion()}"><i
										class="fa fa-trash"></i></a> <a class="edit-button"
										th:href="@{/runs/edit(name=${run.getName()},version=${run.getVersion()})}"><i
										class="fa fa-edit"></i></a><br /> <span th:text="${error}"></span>
								</div>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</th:block>

		<div class="pull-right">
			<a href="/runs/create" class="btn btn-lg btn-success">Create new
				run</a>
		</div>
		<div class="run-list">
			<th:block th:if="${not #lists.isEmpty(runningRuns)}">
				<div class="page-header">
					<h1>Current executions</h1>
				</div>
				<div class="run-container"
					th:each="runningRun, runLoop : ${runningRuns}">
					<div class="run" th:attr="run-name=${runningRun}">
						<div>
							<span class="name" th:text="${runningRun}" />
						</div>
						<form th:action="@{/terminate-run}" method="post">
							<input type="hidden" name="name" th:value="${runningRun}">
							<input type="submit" name="send" value="Pause Run"
								class="gray-button no-margin">
						</form>
						<div class="progress">
							<div
								class="progress-bar progress-bar-success progress-bar-striped active"
								role="progressbar" aria-valuenow="0" aria-valuemin="0"
								aria-valuemax="100" style="width: 0%; transition: none;">
								<span class="sr-only">0% Complete</span>
							</div>
						</div>
					</div>
				</div>
			</th:block>

			<th:block th:if="${!runErrors.isEmpty()}">
				<div class="page-header">
					<h1>Executions with errors</h1>
				</div>
				<div class="run-container"
					th:each="failedRun, runLoop : ${runErrors.keySet()}">
					<div class="run" th:attr="run-name=${failedRun}">
						<a class="pull-right"
							th:href="@{/hideExecutionStatus(name=${failedRun})}">Forget
							this</a>
						<div>
							<span class="name" th:text="${failedRun}"></span>
						</div>

						<th:block th:if="${!runErrors.get(failedRun).isEmpty()}">
							<a class="btn btn-danger" role="button" data-toggle="collapse"
								th:href="${'#executionErrors' + runLoop.index}"
								aria-expanded="false"
								th:aria-controls="${'executionErrors' + runLoop.index}">
								Encountered <span class="badge"
								th:text="${runErrors.get(failedRun).size()}"></span> errors
							</a>

							<ul class="error-list" class="collapse"
								th:id="${'executionErrors' + runLoop.index}">
								<li th:each="error : ${runErrors.get(failedRun)}"
									th:text="${error}"></li>
							</ul>
						</th:block>
						<br /> <br /> <a class="gray-button no-margin"
							th:href="@{/results/show(name=${failedRun})}">View results </a>
					</div>
			</th:block>

			<th:block th:if="${not #lists.isEmpty(finishedRuns)}">
				<div class="page-header">
					<h1>Finished executions</h1>
				</div>
				<div class="run-container"
					th:each="finishedRun, runLoop : ${finishedRuns}">
					<div class="run">
						<a class="pull-right"
							th:href="@{/hideExecutionStatus(name=${finishedRun})}">Forget
							this</a>
						<div>
							<span class="name" th:text="${finishedRun}" />
						</div>
						<a class="gray-button no-margin"
							th:href="@{/results/show(name=${finishedRun})}">View results
						</a> <a class="delete-button delete-run"
							th:href="@{/delete-run(name=${finishedRun})}"><i
							class="fa fa-trash"></i></a>
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar"
								aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
								style="width: 100%">
								<span class="sr-only">100% Complete</span>
							</div>
						</div>

						<div th:if="${runWarnings.containsKey(finishedRun)}">
							<a class="btn btn-danger" role="button" data-toggle="collapse"
								th:href="${'#executionWarnings' + runLoop.index}"
								aria-expanded="false"
								th:aria-controls="${'executionWarnings' + runLoop.index}">
								Finished with <span class="badge"
								th:text="${runWarnings.get(finishedRun).size()}"></span>
								warnings
							</a>
							<ul class="collapse"
								th:id="${'executionWarnings' + runLoop.index}">
								<li th:each="warning : ${runWarnings.get(finishedRun)}"
									th:text="${warning}"></li>
							</ul>
						</div>
					</div>
				</div>
			</th:block>

			<th:block th:if="${not #lists.isEmpty(terminatedRuns)}">
				<div class="page-header">
					<h1>Paused executions</h1>
				</div>
				<div class="run-container"
					th:each="terminatedRun, runLoop : ${terminatedRuns}">
					<div class="run" th:attr="data-name=${terminatedRun}">
						<div>
							<span class="name" th:text="${terminatedRun}" />
						</div>
						<form th:action="@{/resume-run}" method="post">
							<input type="hidden" name="name" th:value="${terminatedRun}">
							<input type="submit" name="send" value="Resume Run"
								class="gray-button no-margin">
						</form>
						<a class="delete-button delete-run"
							th:href="@{/delete-run(name=${terminatedRun})}"><i
							class="fa fa-trash"></i></a>
						<div class="progress">
							<div class="progress-bar progress-bar-warning" role="progressbar"
								aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
								style="width: 0%">
								<span class="sr-only">0% Complete</span>
							</div>
						</div>
					</div>
				</div>
			</th:block>

			<div class="page-header">
				<h1>Available runs</h1>
			</div>
			<div class="box well run-container-outer"
				th:each="runName: ${runs.keySet()}">
				<span class="toggle large"> <i class="fa fa-expand"></i> <strong
					th:text="${runName}"></strong>
				</span> <strong th:text="${runName}" style="display: none;"
					class="fetch-run run-name"></strong>

				<div class="run-information-outer" style="display: none;">
					<div class="run-container row"
						th:each="version : ${runs.get(runName).keySet()}">
						<div class="col-md-12">
							<!-- th:classappend="${run.edited} ? edited : ''" -->
							<form th:action="@{/runs}" method="post">
								<strong class="label label-primary"
									th:text="${'Version: ' + version}"></strong>
								<th:block th:with="run=${runs.get(runName).get(version)}">
									<strong class="label label-success"
										th:text="${T(de.clusteval.run.RUN_TYPE).getForClass(run.wrappedComponent.getClass()).getAlias()}"></strong>
									<strong
										th:if="${run instanceof T(de.clusteval.run.ISerializableExecutionRun) ||
									run instanceof T(de.clusteval.run.ISerializableDataAnalysisRun)}"
										class="label label-info"
										th:text="${'Data sets: ' + run.getDataConfigs().size()}"></strong>
									<strong
										th:if="${run instanceof T(de.clusteval.run.ISerializableExecutionRun)}"
										class="label label-info"
										th:text="${'Programs: ' + run.getProgramConfigs().size()}"></strong>
									<strong
										th:if="${run instanceof T(de.clusteval.run.ISerializableAnalysisRun)}"
										class="label label-info"
										th:text="${'Statistics: ' + run.getStatistics().size()}"></strong>
									<!-- 	<div class="data-basic-stat"
										th:if="${run instanceof T(de.clusteval.run.SerializableExecutionRun)}">
										<div class="stat-count">
											<div th:text="${run.getDataConfigs().size()}"></div>
										</div>
										<div class="stat-name">Data Sets</div>
									</div> -->
									<!-- <div class="data-basic-stat"
										th:if="${run instanceof T(de.clusteval.run.SerializableExecutionRun)}">
										<div class="stat-count">
											<div th:text="${run.getProgramConfigs().size()}"></div>
										</div>
										<div class="stat-name">Programs</div>
									</div> -->
								</th:block>
								<!--  <th:block th:if="${run.edited}">
                            - <span class="date" th:text="${'Created at: ' + run.date}"></span>
                        </th:block> -->
								<a class="delete-button pull-right delete-run"
									th:attr="data-name=${runName},data-version=${version}"><i
									class="fa fa-trash"></i></a> <a class="edit-button"
									th:href="@{/runs/edit(name=${runName},version=${version})}"><i
									class="fa fa-edit"></i></a> <input type="submit" name="send"
									value="Perform Run" class="gray-button no-margin pull-right">
								<input type="hidden" name="name"
									th:value="${runName + ':' + version}">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
