<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
    <div layout:fragment="content" id="parameter_optimization_methods">
        <div class="pull-right">
            <a href="/utilities/upload_parameter_optimization_method" class="btn btn-success">Upload parameter optimization method</a>
        </div>

        <h1>Available parameter optimization methods</h1>
        <div class="box method-container" th:each="method: ${methods}">
            <a class="delete-button delete-data" th:href="@{/parameter_optimization_methods/delete(name=${method.getName()},
            version=${method.getVersion()})}">
                <i class="fa fa-trash"></i>
            </a>
            <strong th:text="${method.toString(true)}" class="method-name fetch-method"></strong>
            <div class="method-information"></div>
        </div>
    </div>
</body>
</html>
