<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<body>
	<div layout:fragment="content" id="utilites">
		<div class="page-header">
			<h1>Dynamic Components</h1>
		</div>
		<a class="gray-button full-width" href="/clustering_quality_measures">Clustering
			quality measures <span class="badge" th:text="${qualityMeasures}"></span>
		</a> <a class="gray-button full-width" href="/data_generators">Data
			set generators <span class="badge" th:text="${generators}"></span>
		</a> <a class="gray-button full-width" href="/data_preprocessors">Data
			preprocessors <span class="badge" th:text="${preprocessors}"></span>
		</a> <a class="gray-button full-width" href="/data_randomizers">Data
			randomizers <span class="badge" th:text="${randomizers}"></span>
		</a> <a class="gray-button full-width" href="/dataset_formats">Data
			set formats <span class="badge" th:text="${dataFormats}"></span>
		</a> <a class="gray-button full-width" href="/dataset_types">Data set
			types <span class="badge" th:text="${types}"></span>
		</a> <a class="gray-button full-width" href="/data_statistics">Data
			statistics <span class="badge" th:text="${dataStatistics}"></span>
		</a> <a class="gray-button full-width" href="/distance_measures">Distance
			measures <span class="badge" th:text="${distanceMeasures}"></span>
		</a> <a class="gray-button full-width"
			href="/parameter_optimization_methods">Parameter optimization
			methods <span class="badge" th:text="${methods}"></span>
		</a> <a class="gray-button full-width" href="/run_result_formats">Run
			result formats <span class="badge" th:text="${resultFormats}"></span>
		</a> <a class="gray-button full-width" href="/run_statistics">Run
			statistics <span class="badge" th:text="${runStatistics}"></span>
		</a> <a class="gray-button full-width" href="/rundata_statistics">Run-data
			statistics <span class="badge" th:text="${runDataStatistics}"></span>
		</a>
	</div>
</body>
</html>
